<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="ReportYTracker.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="YTrackerFederation" value="bpflqklkdof1iojp1dis"/>
		<add key="ProjectId" value="421619e8-006e-4b90-8d64-ceacc973bc78"/>
		<add key="ProjectTaskId" value="bd9c391d-aab8-457a-9d49-bc562d86fbe8"/>
	</appSettings>
 <userSettings>
  <ReportYTracker.Settings>
   <setting name="YTrackerUserName" serializeAs="String">
    <value />
   </setting>
   <setting name="YTrackerPassword" serializeAs="String">
    <value />
   </setting>
   <setting name="IsSaveCredentialsYTracker" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TMUserName" serializeAs="String">
    <value />
   </setting>
   <setting name="TMPassword" serializeAs="String">
    <value />
   </setting>
   <setting name="IsSaveCredentialsTM" serializeAs="String">
    <value>False</value>
   </setting>
  </ReportYTracker.Settings>
 </userSettings>
</configuration>